<h2 mat-dialog-title>Add List</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="listNameControl" />
    <mat-error *ngIf="listNameControl.hasError('required')">
      List name is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="listNameControl.invalid"
    (click)="save()"
    cdkFocusInitial
  >
    Save
  </button>
</mat-dialog-actions>
