<div class="container">
  <div class="col">
    <button mat-button style="margin: 10px 0" (click)="openDialog()">
      Add List
    </button>
    
    @for (list of lists; track $index) {
    <mat-card appearance="outlined" style="width: 400px; position: relative"
    (click)="showDetails(list.id)"
    >
      <mat-card-content
        >{{ list.name }}
        <button
          mat-icon-button
          style="position: absolute; right: 10px; bottom: 5px"
          (click)="deleteList(list.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
    }
    
  </div>
  <div class="col">
    <app-list-details [listDetails]="selectedListDetails"></app-list-details>
  </div>
</div>
